<div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="view" class="card text-white bg-danger mb-3" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{phrase.autor}}</h5>
                <p class="card-text">{{phrase.msg}} </p>
            </div>
        </div>

        <button (click)="view = !view" class="btn w-100 btn-outline-danger"> Mostrar/Ocultar</button>

    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let char of characters; let i= index" class="list-group-item">
                {{i + 1}}- {{char}}
            </li>

        </ul>
    </div>

</div>